body {
    font-family: 'Helvetica Neue';
    background-color: whitesmoke;
  }

section {
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;

}

.caption{
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.phone-size-container
{
    text-align: center;
}
.phone-size
{
width: 400px;
}

.medium-size
{
width: 700px;
}

.medium2-size
{
width: 700px;
}

@media screen and (max-width: 1300px) {
    .medium-size
    {
    width: 400px;
    }
    .medium2-size
    {
    width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .medium2-size
    {
    width: 400px;
    }
}


/* img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 3;
} */