body
{
max-width: 600px;
margin: auto;

}

h1{
  margin-top: 50px;
  text-align:center;
}

#startingBet{
  text-align: center;
}

#buttons {
  text-align: center;
}

#submitButton{
  margin-top: 20px;
  width: 70px;
}


#resetButton{
  margin-top: 20px;
  width: 70px;
}


#results{
  margin-top: 40px !important;
  width: 300px;
  margin: auto;

}
